body {
    margin: 0;
    background: url('background.png') repeat;
    background-size: 175px 175px;
}
#container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height:100vh;

}
canvas {
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    box-shadow: 5px 5px 30px 5px rgba(79,79,79,0.3);
    border: solid #222 3px;
    transform: scale(4);
}
